*{
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#signup{
    /* border: 1px solid black; */
    width: 48%;
    margin: auto;
    text-align: center;
    padding: 30px;
    margin-top: 5%;
}

#p1{
    padding: 5px;
    font-weight: bold;
    color: #494949;
}
#logo{
    padding: 10px;
}
#h4{
    /* padding: 15px; */
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 0mm;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#input{
    width: 90%;
    font-size: 17px;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}
#p2{
    font-size: 12px;
    font-weight: bold;
    color: #494949;
}
#b1{
    padding: 15px;
    border-radius: 50px;
    width: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: none;
    background-color: black;
    color: white;
}
#b1:hover{
    cursor: pointer;
}
#p3{
    font-size: 13px;
}
#b2{
    width: 80%;
    border-radius: 50px;
    padding: 15px;
    font-size: 16px;
    border: 0.5px solid black;
}
#b2:hover{
    cursor: pointer;
}

a{
    color: #494949;
}